[Unit]
Description=wol server

[Service]
ExecStart=/bin/bash -c '/home/pi/github/ctrl-b/wol_server_start.sh'
Restart=on-failure
User=pi
WorkingDirectory=/home/pi/github/ctrl-b/

[Install]
WantedBy=multi-user.target